@media screen and (max-width: 1210px ) {
    .positioncontent1 {
        width: 1227px;
        background-color: blue;
    }

    .img-konten1 {
        position: absolute;
        right: 0;
        margin-right: -1.5%;
    }

    .positionlabel {
        margin-right: -1.5%;
    }
} 

@media screen and (max-width: 1196px) {
    .img-konten1 {
        position: absolute;
        right: 0;
        margin-right: -3%;
    }

    .positionlabel {
        margin-right: -3%;
    }
}

@media screen and (max-width: 1186px) {
    .img-konten1 {
        position: absolute;
        right: 0;
        margin-right: -3.6%;
    }

    .positionlabel {
        margin-right: -3.6%;
    }
}

@media screen and (max-width:1176px) {
    .img-konten1 {
        position: absolute;
        right: 0;
        margin-right: -4.5%;
    }

    .positionlabel {
        margin-right: -4.5%;
    }
}

@media screen and (max-width:1166px) {
    .img-konten1 {
        position: absolute;
        right: 0;
        margin-right: -5.2%;
    }

    .positionlabel {
        margin-right: -5.2%;
    }
}

@media screen and (max-width:1151px) {
    .img-konten1 {
        position: absolute;
        right: 0;
        margin-right: -6.9%;
    }

    .positionlabel {
        margin-right: -6.9%;
    }
}

@media screen and (max-width:1131px) {
    .img-konten1 {
        position: absolute;
        right: 0;
        margin-right: -8.5%;
    }

    .positionlabel {
        margin-right: -8.5%;
    }
}

@media screen and (max-width:1110px) {
    .img-konten1 {
        position: absolute;
        right: 0;
        margin-right: -10.5%;
    }

    .positionlabel {
        margin-right: -10.5%;
    }
}

@media screen and (max-width:1096px) {
    .img-konten1 {
        position: absolute;
        right: 0;
        margin-right: -12%;
    }

    .positionlabel {
        margin-right: -12%;
    }
}

@media screen and (max-width:1086px) {
    .img-konten1 {
        position: absolute;
        right: 0;
        margin-right: -13%;
    }

    .positionlabel {
        margin-right: -13%;
    }
}

@media screen and (max-width:1071px) {
    .img-konten1 {
        position: absolute;
        right: 0;
        margin-right: -14.8%;
    }

    .positionlabel {
        margin-right: -14.8%;
    }
}




