@media screen and (min-width: 1200px) and (max-width: 1300px) {
    .posisikomunitasterbaru {
        margin-top: -67%;
        margin-left: 10px;
    }
    .text80 {
        margin-left: 80%; 
        margin-top: -7.7%;
    }
}