@media screen and (min-width:1200px) and (max-width:1300px) {
    .position-textlabel {
        width: 750px;
        height: 45px;
        margin-top: 105px;
    }
    .textlabel {
        font-size: 15px;
    }
}