@media screen and (min-width:1200px) and (max-width:1300px) {
    .posisikonten1 {
        width: 1360px;
        
    }
    .image1 {
        width: 1359px;
    }
    .logomengajar {
        left: 35%;
    }
    .posisikonten2 {
        width: 1360px;
        
    }
    .buttongabung {
        margin-right: -100px;
    }
    .posisikonten3 {
        width: 1360px;
        
    }
    textarea {
         margin-right: 40px;
         width: 1100px;
    }
    .posisikonten4 {
        width: 1360px;
       
    }
    .status {
        margin-left:15px;
    }
}