@media(max-width: 768px) {
    .maindekom{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }
    .maindekomleft, .maindekomright{
        width: 100%;
    }
    .imagekomunitasdetail{
        width: 50%;
        margin: 0 auto;
    }
    .datekegiatan{
        width: 80%;
    }
    .personalteamkomunitasdetail{
        width: 100%;
    }
}