.detaildateandlocation{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.locate{
    color: "#EA5900";
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin: 0 0;
}
.date{
    color:'#00000066';
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin: 0 0;
}

.maindetailartikelcontent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.iconsocmed{
    width: 30px;
    height: 30px;
}

.anotherdetailartikel{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

.topartikeldetail{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

@media(max-width:768px){
    .detailartikecontent{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .maindetailartikelcontent{
        width: 100%
    }
    .anotherdetailartikel{
        width: 90%;
    }
    .detaildateandlocation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .topartikeldetail{
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;    
    }
    .locate, .date{
        font-size: 12px;
    }
    .iconsocmed{
        width: 22px;
        height: 22px;
    }
}