@media (max-width: 768px){
    .konten2komunitas{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        height: auto;
        padding: 20px 32px;    
    }
    .konten3komunitas{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 40px;
    }
    .konten3komunitastopmobile{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .konten3komunitasright{
        display: none;
    }
    .imgkomunitas2{
        max-width: 80%;
    }
    .texttemukan{
        font-size: 26px;
    }
    .textkami{
        font-size: 12px;
    }
    .konten2detailjob{
        display: flex;
        gap: 20px;
    }
    .posisikomunitasterbaru{
        display: none;
    }
    .kontenkomunitasdetail{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .imgkomunitas2{
        width: 100%;
    }
    .konten3komunitasrightmobile{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .imgvolunteersneed{
        width: auto;
    }
}

@media (max-width: 425px){
    .konten3komunitastopmobile{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}