@media(max-width: 768px){
    .positioncontent2{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .textmajukan, .textgerakan{
        color: #fff;
    }
    .positioncontent4subberita{
        display: flex;
        flex-direction: column;
    }
    .positioncontent4mainberita{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .positionourservicedetail{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 56px;
        gap: 20px;
    }
    .cardcontent{
        display: flex;
        flex-direction: column;
        padding-left: 56px;
        padding-right: 56px;
        align-items: center;
        width: 100%; 
    }
    .positioncontent3{
        height: auto;
        height:1625px;
    }
    .position-textlabel{
        width: 90%;
    }
    .imgpetaindonesia{
        width: 100%;
    }
    .position-carousel{
        margin-top: 200px;
        width: 80%;
        height: 80%;
        left: 10%;
        border-radius: 20px;
    }
    .img-konten1{
        width: 100%;
    }
    .textlabel{
        font-size: 12px;
        margin-right: 0px;
    }
    .img-konten2{
        width: 90%;
    }
    .positioncontent2right, .positionourservicedetailleft{
        display: flex;
        align-items: center;
    }
    .positionourservicedetailright{
        text-align: center;
    }
    .positionourservicedetailleft{
        width: 100%;
    }
    .textwhypeople, .textourservice {
        text-align: center;
    }
    .textlihat{
        font-size: 14px;
    }
    .textberita{
        font-size: 20px;
    }
    .positioncontent4top{
        display: flex;
        justify-content: space-between;
        padding: 0px 56px;
        align-items: center;
    }
    .imgartikel1{
        width: 100%;
    }
    .positioncontent4detailmainberita{
        width: 100%;
    }
    .subarticleinhome{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }
    .textberi{
        width: 50%;
        height: auto !important;
        font-size: 18px;
    }
    .positioncontent5{
        height: 700px;
        padding: 0px ;
    }
    .textbagaimana{
        margin-left: 56px;
    }
    .textwhypeople{
        width: 100%;
        height: auto;
    }
    .textkonten3{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .imgartikel2{
        width: 100%;
    }
    .card, .imgcard{
        width: 100%;
    }
}
@media(max-width: 500px){
    .posisiimgartikel1{
        width: 100%;
    }
}