
.homefromartikel{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.ulartikel{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 56px 10px 56px;
    margin-bottom: 0px;
}

.linknavartikel{
    list-style-type: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.artikeltitletop{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;   
    padding: 0px 56px;
}

.titleartikel{
    border-bottom: solid;
    width: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    border-color:  #005C95;
    color: #000000;
    border-width: 4px;
    margin: 0 0;
}

.locanddatearticle{
    width: 60%;
    display: flex;
    gap: 3%;
    padding: 0 0 0 0px;
    align-items: center;
    margin: 0 0;
    color: rgba(0, 0, 0, 0.4);
}

.locate{
    list-style-type: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #EA5900;
}

.date{
    list-style-type: none;
    width: auto;
}

.titlecontentarticle{
    width: 60%;
    font-family: 'poppins';
    font-style: normal;
    font-weight: 520;
    font-size: 32px;
    margin: 0 0;
}

.subcontentarticle{
    width: 60%;
    font-style: normal;
    font-weight: 410;
    font-size: 16px;
    margin: 0 0;
    font-family: 'Calibri';
}

.sharearticle{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin: 0 0;
}

.iconshare{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.artikeltitlebottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    font-size: 12px;
}

.swiperartikel{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 56px;
}

.artikelimage{
    width: 817px;
    border-radius: 20px;
}

.Artikellainnya{
    font-style: normal;
    font-family: 'poppins';
    font-weight: 700;
    font-size: 24px;
    margin: 0 0;
}
.divnyaartikel{
    height: 500px;
}

.swiper-slide {
    background: transparent;
}

.dipnyacarousel2{
    padding-top: 60px;
    padding-bottom: 60px;
    height: 520px;
}


.Carouselsusah {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    height: 400px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    flex-direction: row;
    gap: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .swiper-pagination{
    position: relative;
} */

.titleartikelbottom{
    text-align: justify;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0;
}

.subtitleartikelbottom{
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    margin: 0 0;
}

.cardartikelbottom{
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.imgdanartikelspot{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;  
}

.sizecarouselartikel2 {
    width: 1103px;
    height: 440px;
    border-radius: 20px;
    overflow: hidden;
}

.btn-btstrp {
    margin-bottom: 50px;
    background: white;
    width: 212px;
    height: 50px;
    border-radius: 20px;
    color: #009EFF;
}

