.imagekomunitasdetail{
    width: 100%;
}

.linknavdekom{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding: 5px 56px;
    margin: 0 0;
}

.linknavdetail, .linknavhome{
    list-style-type: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.maindekom{
    display: flex;
    justify-content: space-between;
    padding: 20px 56px;
}

.maindekomleft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 45%;
}

.personalteamkomunitasdetail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.ownerkomunitas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.ownerkomunitasid{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin: 0 0;
}

.memberkomunitas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.memberkomunitasid{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin: 0 0;
}

.imagememberkomunitasid{
    width: 100%;
}

.imagememberkomunitasid{
    list-style-type: none;
}

.lokasikomunitas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.lokasikomunitasid{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin: 0 0;
}

.maindekomright{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 50%;
}

.maindekomrighttop{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.identifyjoin{
    border-style: solid;
    border-color: #00A9A5;
    background-color: #00A9A5;
    color: white;
    padding: 5px 5px;
    margin: 0 0;
    font-size: large;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.logoutkomunitas{
    color: red;
    font-style: oblique;
    margin: 0 0;
}

.deskripsititlekomunitas{
    font-family: 'poppins';
    font-size: 32px;
    font-weight: 600;
    margin: 0 0;
}

.deskripsidetailkomunitasdekom{
    font-family: 'calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
}

.kegiatankomunitasdetail{
    font-family: 'poppins';
    font-size: 32px;
    font-weight: 600;
    margin: 0 0;
}

.datekegiatan{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 12px;
    gap: 21px;
    background: #009EFF;
    border-radius: 16px;
    margin: 0 0;
}

.tanggalkegiatankomunitas{
    list-style-type: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: white;
}

.fotokegiatantitle{
    font-family: 'poppins';
    font-size: 32px;
    font-weight: 600;
    margin: 0 0;
}

.fotokegiatandetail{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 22px;
}

.fotokegiatandetailid{
    width: 30%;
}