.image66 {
    position: absolute;
    height: 520px;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
}

.image67 {
    width: 620px;
    height: 424.5px;
}

.image68 {
    width: 152px;
    height: 140px;
    
}

.image69 {
    width: 110.17px;
    height: 65.13px;
}

.text1 {
    border-bottom: solid;
    font-size: 22px;
    margin: 15px;
    font-family: 'Poppins';
    font-style: normal;
}

.text2 {
    width:69px;
    height:64px;
    margin: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;

}
.bordernominal {
    box-sizing: border-box;
    position: absolute;
    margin-top: -40px;
    margin-left: 10px;
    font-family: Poppins;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    border: 1px solid #009EFF;
    border-radius: 12px;
    cursor: pointer;
    background-color: white;
    
}

.bordernominal1 {
    box-sizing: border-box;
    position: absolute;
    margin-top: -40px;
    margin-left: 110px;
    border-style: solid;
    display: flex;
    font-family: Poppins;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    border: 1px solid #009EFF;
    border-radius: 12px;
    background-color: white;    
}
.bordernominal2 {
    box-sizing: border-box;
    position: absolute;
    margin-top: -40px;
    margin-left: 210px;
    border-style: solid;
    display: flex;
    font-family: Poppins;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    border: 1px solid #009EFF;
    border-radius: 12px;
    cursor: pointer;
    background-color: white; 
}
.bordernominal3 {
    box-sizing: border-box;
    position: absolute;
    margin-top: -40px;
    margin-left: 310px;
    border-style: solid;
    display: flex;
    font-family: Poppins;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    border: 1px solid #009EFF;
    border-radius: 12px;
    cursor: pointer;
    background-color: white;
}
.bordernominal4 {
    box-sizing: border-box;
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    border-style: solid;
    display: flex;
    font-family: Poppins;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    border: 1px solid #009EFF;
    border-radius: 12px;
    cursor: pointer;
    background-color: white;
}
.bordernominal5 {
    box-sizing: border-box;
    position: absolute;
    margin-top: 5px;
    margin-left: 110px;
    border-style: solid;
    display: flex;
    font-family: Poppins;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    border: 1px solid #009EFF;
    border-radius: 12px;
    cursor: pointer;
    background-color: white;
}
.bordernominal6 {
    box-sizing: border-box;
    position: absolute;
    margin-top: 5px;
    margin-left: 210px;
    border-style: solid;
    display: flex;
    font-family: Poppins;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    border: 1px solid #009EFF;
    border-radius: 12px;
    cursor: pointer;
    background-color: white;
}
.bordernominal7 {
    box-sizing: border-box;
    position: absolute;
    margin-top: 5px;
    margin-left: 310px;
    border-style: solid;
    display: flex;
    font-family: Poppins;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    border: 1px solid #009EFF;
    border-radius: 12px;
    cursor: pointer;
    background-color: white;
}
.laporankeuangan{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 100%;
}
.laporankeuangandetail{
    width: 85%;
}
.bordernominaluang {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60px;
    border: 1px solid #009EFF;
    border-radius: 10px;
    color:#000000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
.bordernominal9 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border: 1px solid #009EFF;
    border-radius: 10px;
    gap: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight:700;
    font-size: 24px;
    line-height: 36px;
    cursor: pointer;
    background-color: white;
}
.bordernominal10 {
    box-sizing: border-box;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border: 1px solid #009EFF;
    border-radius: 10px;
    gap: 10px;    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    background-color: white
}
.buttonproses{
position:absolute;
height: 40px;
width: 382px;
margin-left: 15px;
margin-top: 420px;
border-radius: 12px;
padding: 2px 7px 2px 7px;
background: #009EFF;
border-color: #009EFF;
border-radius: 12px;
color: white;
}

.bordertextuang{
    box-sizing: border-box;
    width: 90%;
    background: #009EFF;
    border-radius: 10px;
    color:white;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    padding: 5px 5px;
}
.bordertextuang1{
    width: 60%;
    box-sizing: border-box;
    background: #009EFF;
    border-radius: 10px;
    color:white;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    padding: 5px 5px;
}
.textnama{
    position: absolute;
    margin-top: 50px;
    margin-left: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;

}

.textemail{
    position: absolute;
    margin-top: 135px;
    margin-left: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    }

.textnomortelepon{
    position: absolute;
    margin-top: 225px;
    margin-left: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
    .textmetodepembayaran{
        position: absolute;
        margin-top: 315px;
        margin-left: 15px;
        font-family: 'Poppins';
        font-style: normal;
        font-size: 18px;
        line-height: 24px;
        color: #000000;
     }

    
.laporantop{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

    .textupdate{
        border-Style: solid;
        border-Radius: 10px;
        background: #009EFF;
        color: white; 
        width: auto;
        height: 54px;
        padding: 5px 15px;
        gap: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
    }

     .laporan{

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 96px;

        color: #009EFF;
     }
.sublaporantop{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}
.sublaporantopdetail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0px;
}
.textlaporan1{
    width: 500px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
    line-height: 36px;

}
.textlaporan2{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    width: 490px;
    height: 90px;
    font-size: 20px;
    font-weight: 100px;

}

.laporandet{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 42px 56px;
    gap: 20px;
}

.laporanbottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 100%;
}
.textlaporan3 {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
}
.textlaporan4 {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 635px;
}
.textlaporan5 {
    width: 400px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.textdonasi{
    width: 132px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}
.textdonasi1{
    width: 100%;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #000000;
}

.donasibottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 56px;
    gap: 77px;
}
.donasibottomdetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
}
.donasibottomsubdetail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}