.position-halo {
    border-radius: solid;
    background-color: #2B4754;
    color: white;
    height: 332px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.maincontent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
   
}

.posisiunicate {
    width: 200px;
    height: 64.17px;
}
.top-main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
    gap: 60px;
    max-width: 100%;
    
}
.top-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 30%;
}
.textmenghadirkan {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;    
    width: 100%;
    height: auto;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    max-width: 50%;
    height: auto;
}

.textmenu {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    margin: 10px 0px 0px 0px;
}

li{
    font-size: 14px;
}

.posisineedhelp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 25%;
    height: auto;
    font-size: 18px;
}

.textneed {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 0 0;
}

.detailhelp {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
    font-size: 14px;
}

.buttondonasifooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
    gap: 10px;
    text-decoration: none;
    width: 161px;
    height: 43px;

    background: #FFFFFF;
    border-radius: 20px;
    border-color: transparent;

    color: #009EFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 149.5%;
}

.buttondonasifooter:hover {
    background-color: #009EFF;
    color: #FFFFFF;
    transition: .1s ease-in-out;
    transition-delay: .1s;
    text-decoration: none;
}

.buttontop {
    right: 0;
    background-color: transparent;
    border-color: transparent;
    margin-top: 10%;
    margin-left: 2%;
}

.textcopyright {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

.posisiiconsosmedfooter {
    right: 0px;
    display: flex;
    gap: 8px
}

.lingkaranfooter {
    box-sizing: border-box;
    position: absolute;
    margin-top: 238px;
}

.bottom-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    margin-right: 30px;
    width: 100%;
}
.menubottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.link{
    color: white;
    text-decoration: none;
}

@media(max-width:  768px){
    .lingkaranfooter{
        bottom: 0px;
    }
    .position-halo{
        height: auto;
    }
    .textmenu{
        width: 200px;
    }
    .top-main{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        }
}

@media (max-width: 900px){
    .top-main{
        gap: 40px;
    }
}


@media(max-width: 425px){
    .menu, .textneed{
        font-size: 14px;
    }
    .textmenghadirkan{
        font-size: 10px;
        width: 100%;
    }
    li, .detailhelp{
        font-size: 12px;
    }
    .textcopyright{
        font-size: 8px;
       }
    .buttontop{
        margin-left: -20px;
    }
    .detailhelp, .detailhelp{
        width: 200px;
    }
    .posisineedhelp{
        width: 200px;
    }
    .menubottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    li{
        width: 200px;
    }
    .maincontent{
        display: flex;
        gap: 20px;
    }
}

/* .image-18 {
    position: absolute;
    width: 200px;
    height: 64.17px;
    left: 5%;
    top: 12%;
}

.text-20 {
    position: absolute;
    width: 245px;
    height: 90px;
    left: 5%;
    top: 27%;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.position-list-ourservice {
    width: 138px;
    height: 172px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;

    position: absolute;
    top: 7%;
    left: 35%;
}

.position-list-organization {
    width: 163px;
    height: 180px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    top: 7%;
    left: 52.5%;
}

.position-list-contactperson {
    position: absolute;
    width: 336px;
    height: 185px;
    left: 70%;
    top: 7%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.list-style {
    list-style-type: none;
}

.size-image {
    position: absolute;
    width: 18px;
    height: 18px;
}

.icon-location {
    position: absolute;
    left: 0px;
    top: 80px;
}

.icon-call {
    position: absolute;
   left: 0px;
   top: 115px;
}

.text-21 {
    position: absolute;
   left: 30px;
   top: 70px;
}

.text-22 {
    position: absolute;
   left: 30px;
   top: 105px;
}

.icon-email {
    position: absolute;
    left: 0px;
    top: 151px;
}

.text-23 {
    position: absolute;
    left: 30px;
    top: 140px;
}

.button-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
    gap: 10px;

    width: 161px;
    height: 43px;

    background: #FFFFFF;
    border-color: transparent;
    border-radius: 20px;

    position: absolute;
    left: 0px;
    top: 190px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 149.5%;
    color: #009EFF;
}

.button-2:hover {
    background-color: #009EFF;
    color: #FFFFFF;
    transition: .1s ease-in-out;
    transition-delay: .1s;
}

.image-19 {
    position: relative;
    width: 32.17px;
    height: 77.46px;
    left: 50%;
    top: 116%;
}

.position-line-footer {
    border-top: solid;
    position: absolute;
    border-color: white;
    width: 1144px;
    left: 5%;
    top: 85%;
}

.image-20 {
    position: absolute;
    width: 63px;
    height: 83px;
    left:-6%;
    top:-25px;
}

.size-icon-sosmed-footer {
    width: 20px;
    height: 20px;
}

.position-icon-sosmed-footer {
    position: absolute;
    width: 120px;
    height: 36px;
    left: 93%;
    top: 30%;   
}

.font-size-footer {
    font-size: 12px;
}

.dot {
    position: absolute;
    left: 90%;
    top: 117%;
    background-color: transparent;
    border-color: transparent;
} */