.linknavkishpir{
    padding: 5px 56px;
}
.image1kisahinspirasi {
    width: 750px;
    height: 354px;
}

.image2 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 47px;
    top: 420px;
}

.image3 {
    position: absolute;
    width: 200px;
    height: 6px;
    left: 50px;
    top: 215px;
}

.image4 {
    position: absolute;
    width: 112px;
    height: 108px;
    right: 100px;
    top: 600px;
}

.image5 {
    position: absolute;
    width: 139px;
    height: 220px;
    left: -79px;
    top: 800px;   
}
.segitigaorange{
    right: 0px;
    position: absolute;
    margin-right: -20px;
}

.image6 {
    width: 133px;
    height: 133px;
    margin-left: 50px;
}

.image7 {
    position: absolute;
    width: 133px;
    height: 133px;
}

.image8 {
    width: 183px;
    height: 183px;
    margin-left: 40px;
    z-index: 1;
}

.garis{
    width: 200px;
    height: 4px;
    background: #005C95;
    border-radius: 20px;
}

.image9 {
    width: 183px;
    height: 183px;
    position: absolute;
    z-index: 1;
}
.segitigaorangebottom{
    position: absolute;
    top: 850px;
    z-index: 1;
    left: 1200px;

}

.judul {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 40px;
    width: 700px;
}
.mainkishpir{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 56px;
    gap: 50px;
    z-index: 20;
    position: relative;
}

.titlekishpir{
    padding: 5px 56px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
}
.isi {
    width: 92%;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.linktopkish{
    display: flex;
    gap: 5px;
    padding: 20px 0px;
    align-items: center;
}

.kishpir{
    list-style-type: none;    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.text-home {
    color: blue;
    list-style-type: none; 
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    
}