.posisikonten1 {
    height: 437px;
}

.image1 {
    position: absolute;
    width: 100%;
    height: 437px;
    top: 70px;
}

.logomengajar {
    position: absolute;
    background-color: white;
    width: 500px;
    height: 203px;
    border-radius: 30px;
    left: 33%;
    margin-top: 6%;
}

.posisikonten2 {
    height: 286px;
}

.textdeskripsi {
    margin-left: 56px;
    width: 146px;
    height: 48px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 149.5%;
}

.buttongabung {
    position: absolute;
    right:0;
    margin-right: 58px;
    margin-top: -65px;
    background: #009EFF;
    border-radius: 12px;
    width: 80px;
    height: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 149.5%;
    color: white;
    border-color: transparent;
    cursor: pointer;
}

.textkomunitasini {
    margin-left: 56px;
    width: 1080px;
    height: 60px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 149.5%;
}

.textlihatselengkapnya {
    margin-left: 56px;
    width: 148px;
    height: 18px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149.5%;
}

.text100member {
    margin-left: 206px; 
    margin-top: 30px;
}

.posisikonten3 {
    height: 385px;
}

textarea {
    width: 100%;
     height:317px; 
     resize:none; 
     border-radius:12px; 
     position: absolute;
     right: 0;
     font-size:20px; 
     font-family:'Poppins';
}

textarea::-webkit-input-placeholder {
    font-family: 'poppins';
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}

.buttoninputfoto {
    margin-left: 45px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;
    position: absolute;
    margin-top: 330px;
    width: 131px;
    height: 48px;
    border-color: transparent;
    cursor: pointer;
}

.posisikonten4 {
    height: 988px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px;
    gap: 13px;
}

.status {
    background: #0076BF;
    border-radius: 20px;
    width: 100%;
    height: 228px;
    color: white;
}

.imgkomentar {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}

.textnamamember {
    width: 101px;
    height: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 149.5%;
    margin-left: 160px;
    margin-top: 55px;
    position: absolute;
}

.textkomentar {
    width: 674px;
    height: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 149.5%;
    position: absolute;
    margin-top: 132px;
    margin-left: 20px;
}

.like {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149.5%;
    position: absolute;
    margin-left: 22px;
    margin-top: 181px;
    display: flex;
    gap: 4px;
}

.share {
    position: absolute;
    margin-left: 191px;
    margin-top: 181px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149.5%;
    display: flex;
    gap: 4px;
}
