.posisikonten1 {
    height: 437px;
}

.image1 {
    position: absolute;
    width: 100%;
    height: 437px;
    top: 70px;
}

.logomengajar {
    position: absolute;
    background-color: white;
    width: 40%;
    border-radius: 30px;
    left: 33%;
    margin-top: 6%;
}

.posisikonten2 {
    padding: 20px 56px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textdeskripsi {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    margin: 0 0;
}

.buttongabung {
    background: #009EFF;
    border-radius: 12px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: white;
    border-color: transparent;
    cursor: pointer;
}

.konten2top{
    display: flex;
    justify-content: space-between;
}

.allmember{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

.textkomunitasini {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin: 0 0;
}

.textlihatselengkapnya {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 0 0;
}

.posisikonten3 {
    padding: 10px 56px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea {
     width: 100%;
     height:317px; 
     resize:none; 
     border-radius:12px; 
     right: 0;
     font-size:20px; 
     font-family:'Poppins';
}

textarea::-webkit-input-placeholder {
    font-family: 'poppins';
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}

.buttoninputfoto {
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;
    width: 131px;
    height: 48px;
    border-color: transparent;
    cursor: pointer;
}

.posisikonten4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 56px;
    gap: 13px;
}

.detailstatus{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}

.status {
    background: #0076BF;
    border-radius: 20px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 16px;
}

.detailstatustop{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;  
}

.text100member{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin: 0 0;
}

.textnamamember {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.textkomentar {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin: 0 0;
}

.detailstatusbottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

.like {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    gap: 4px;
    margin: 0 0;
}

.share {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    gap: 4px;
    margin: 0 0;
}
