.imgkomunitas1 {
    height: 413px;
    width: 100%;
}

.texttemukan {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 149.5%;
    color: white;
    width: 757px;
    height: 120px;
   
}

.textkami {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 149.5%;
    color: white;
    margin-top: 13%;
    width: 701px;
    height: 36px;
}

.imgkomunitas2 {
    position: absolute;
    width: 649px;
    height: 553.03px;
    margin-top: 32px;
    margin-left: 56px;
}

.textsupport {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 149.5%;
    text-align: center;
    margin-left: 18%;
    margin-top: 9%;
}

.textfitur {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 149.5%;
    width: 253px;
    height: 48px;
    margin-left: 55%;
    margin-top: 0%;
}

.textkamimenyediakan {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149.5%;
    color: black;
    width: 425px;
    height: 126px;
    margin-left: 55%;
    margin-top: 0%;
    text-align: justify;
}

.text100 {
    margin-left: 55%; 
}

.textvolunteer {
    width: 143px;
    height: 21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149.5%;
}

.text80 {
    margin-left: 75%; 
    margin-top: -6.5%;
}

.textanak {
    margin-left: 75%; 
    width: 143px;
    height: 21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149.5%;
}

.text90 {
    margin-left: 55%; 
}

.textkomunitas {
    margin-left: 55%; 
    width: 143px;
    height: 21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149.5%;
}

.style100-80-90 {
    width: 47px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 149.5%;
}

.posisikonten3 {
    height: 896px;
    border-style: solid;
}

.posisikomunitasterbaru {
    border-style: solid;
    width: 296px;
    height: 608px;
    margin-top: -57%;
    margin-left: 50px;
    border-radius: 8px;
}