.cardkomunitasprofile {
    width: 724px;
    height: 260px;
    border: 1px solid #E3DFDF;
    border-radius: 20px;
    position: absolute;
    right: 0;
    margin-right: 136px;
    margin-top: 58px;
}