.imgkomunitas1 {
    height: 413px;
    width: 100%;
    z-index: 1;
}

.texttemukan {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 149.5%;
    color: white;
    width: 80%;
}
.konten1title{
    position: absolute;
    z-index: 10;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.textkami {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 149.5%;
    color: white;
    max-width: 60%;
}

.imgkomunitas2 {
    width: 649px;
    height: 553.03px;
}

.textsupport {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.kontenkomunitasdetail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 45%;
}
.konten2komunitas{
    display: flex;
    justify-content: space-between;
    padding: 40px 56px;
    align-items: center;
}
.konten3komunitastopmobile{
    display: none;
}
.kontenkomunitasdetailtitle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}

.textfitur {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 149.5%;
    width: auto;
}

.textkamimenyediakan {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 149.5%;
    color: black;
    width: 100%;
}
.konten2detailjob{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 160px;
}

.konten2detailjobleft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}
.textvolunteer {
    width: 143px;
    height: 21px;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149.5%;
}


.textanak {
    width: 143px;
    height: 21px;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149.5%;
}


.textkomunitas {
    width: 143px;
    height: 21px;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149.5%;
}

.style100-80-90 {
    width: 47px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 149.5%;
}


.posisikomunitasterbaru {
    border-style: solid;
    width: 296px;
    height: 658px;
    border-radius: 8px;
    margin-top: 30px;
}

.posisikomunitas1 {
    border-bottom: solid;
    width: 254px;
    height: 86px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 28px;
    margin-left: 10px;
}

.styletextposisikomunitas {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 149.5%;
}

.spacekomunitasterbaru {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 256px;
    height: 512px;
}

.textlihatsemuanya {
    text-align: center;
    margin-top: 100px;
    font-family: 'calibri';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 149.5%;
    color: #009EFF
}

.imgvolunteersneed {
    right: 0;
    width: 200px;
    height: 200px
}
.konten3komunitas{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 56px;
    gap: 62px;
}

.konten3komunitasright{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
}
.textmari {
    right: 0;
    width: 122px;
    height: 48px;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 149.5%;
    text-align: center;
}

.buttondonasisekarang {
    right: 0;
    width: 212px;
    height: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    border-radius: 20px;
    border-color: #009EFF;
    color: #009EFF;
    background-color: white;
}