
.homefromartikel{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.ulartikel{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 56px;
}

.linknavartikel{
    list-style-type: none;
    padding: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.artikeltitletop{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;   
    padding: 0px 56px;
}
.titleartikel{
    font-style: normal;
    font-weight: 505;
    font-size: 33px;
    width: 8%;
    border-bottom: solid;
    border-color: #005C95;
    border-width: 5px;
    border-radius: 4px;
}

.artikelimage{
    height: 410px;
    border-radius: 20px;
}

.locanddatearticle{
    width: 60%;
    display: flex;
    gap: 3%;
    padding: 0 0 0 0px;
    align-items: center;
}

.locate{
    list-style-type: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #EA5900;
}

.date{
    list-style-type: none;
    width: auto;
}

.titlecontentarticle{
    width: 60%;
    font-style: normal;
    font-weight: 520;
    font-size: 32px;
}

.subcontentarticle{
    width: 60%;
    font-style: normal;
    font-weight: 410;
    font-size: 16px;
    line-height: 149.5%;
}

.sharearticle{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.iconshare{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}
.artikeltitlebottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.swiperartikel{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 56px;
}

.artikelimage{
    width: 80%;
}

.Carouselsusah {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 0 0 0px;
}

.Artikellainnyacuy{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

<<<<<<< HEAD
=======
.divnyaartikel{
    height: 500px;
}
>>>>>>> b27a5ed0d698297587e04a6477ae0b61bafde88d

.swiper-slide {
    background: transparent;
}

<<<<<<< HEAD

.busetdah{
    width: 100%;
=======
.busetdah{
    border-style: solid;
    height: 390px;
    width:900px;
    margin-top: 5%;
}

.dipnyacarousel2{
    height: 600px;
>>>>>>> b27a5ed0d698297587e04a6477ae0b61bafde88d
}

.FotoAC2cuy{
    width: 80%;
    
    border-radius: 20px;
}

.Carouselsusah {
    width: 1328px;
    height: 430px;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;
    position: absolute;
    margin-top: 5px;
    right: 0;
    margin-right: 40px;
  }
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  