.positioncontent1 {
    height: 545px;    
}

.style-img-titik {
    width: 128.78px;
    height: 92px;
    margin-left: 4.2%;  
}

.img-konten1 {
    width: 773px;
    height: 543px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.textmajukan {
    margin-top: 46px;
    width: 432px;
    height: 120px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 149.5%;
    margin-left: 3%;
    z-index: 10;
    position: relative;
}

.textgerakan {
    width: 315px;
    height: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 149.5%;
    margin-left: 3%;
    z-index: 10;
    position: relative;
}

.buttonbergabung {
    margin-top: 14px;
    margin-left: 3%;
    width: 240px;
    height: 40px;
    background: #0091EA;
    border-radius: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 149.5%;
    color: white;
    border-color: transparent;
    cursor: pointer;
    z-index: 20;
    position: relative;
}

.buttonbergabung:hover {
    background: white;
    color: #0076BF;
    transition: .5s;
    transition-delay: .1s;
    border-color: #0076BF;
}

.position-textlabel {
    position: relative;
    margin-top: 131px;
    border-style: solid;
    border-color: transparent;
    width: 880px;
    background-color: #0091EA;
    z-index: 12;
}

.textlabel {
    text-align: right;
    padding-top: 12.5px;
    padding-right: 17px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 149.5%;
    color: white;
}

.positionlabel {
    position: absolute;
    z-index: 1;
    right: 0; 
    margin-top: 240px; 
    background-color: #0091EA;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 8px;
    gap: 25px;
    z-index: 10;
}

.positioncontent2 {
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding: 40px 56px;
}

.img-konten2 {
    width: 527px;
    height: 561.23px;
}

.segitiga {
    position: absolute;
    right: 0;
    margin-top: 80px;
}

.positioncontent2right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}
.textourmission {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 149.5%;
    border-bottom: solid;
    width: auto !important;;
    font-family: 'Poppins';
    margin-left: -5%;
}

.paragraphkonten2{
    width: 100%;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149.5%;
    text-align: justify;
    margin-left: -5%;
}
.corp{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.textcorporate {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.posisiiconcorporate {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.logotonoto {
    width: 30%;
}

.logosampoerna {
    width: 30%;
}
.logoinspirasi{
    width: 40%;
}

.logoinfinite {
    width: 70%;
}

.positioncontent3 {
    height: 625px;
}

.positionourservice {
    height: 405px;
    border-style: solid;
    border-color: transparent;
    background-color: #0076BF;
}

.positionourservicedetail{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 160px;
    gap: 10px;
}
.positionourservicedetailleft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}
.textourservice {
    color: white;
    border-bottom: solid;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
}

.textwhypeople {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 149.5%;
    width: 459px;
    height: 108px;
    color: white;
}

.textkonten3 {
    width: 553px;
    height: 48px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 149.5%;
    color: white;
}

.card {
    width: 329px;
    height: 368.48px;
    border-style: solid;
    background-color: white;
    border-radius: 12px;
    border-color: transparent;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* .card1 {
} */

.imgcard {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 329px;
    height: 218.48px;
    transition: .3s;
}

.imgcard:hover {
    scale: 1.2;
}

/* .card2 {
} */

/* .card3 {
} */

.cardcontent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 140px;
    gap: 60px;
}
.textcard {
    text-align: center;
}

.textcardjudul {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 149.5%;
    margin-top: 30px;
}

.kontencard {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 16.5px;
    line-height: 149.5%;
}

.positioncontent4 {
    height: auto;
}

.positioncontent4top{
    display: flex;
    justify-content: space-between;
    padding: 0px 56px;
    align-items: stretch;
}
.textberita {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 28px;
    border-bottom: solid;
}

.jatimberanda{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.dateberanda{
    color: rgba(0, 0, 0, 0.4);
}

.textlihat {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
}
.positioncontent4mainberita{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 56px;
    gap: 20px;
}
.positioncontent4detailmainberita{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}
.positioncontent4subberita{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin:20px;
    gap: 34px;
}
.posisiimgartikel1 {
    border-style: solid;
    width: 473.75px;
    height: 375px;
    border-radius: 30px;
    overflow: hidden;
    border-color: transparent;
}

.imgartikel1 {
    width: 473.75px;
    height: 375px;
}

.lokasiartikelinhome {
    width: 61px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 149.5%;
    color: #EA5900;
}

.titlearticleinhome {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
}

.detailarticleinhome{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 75%;
}

.imgartikel2 {
    transition: .3s;
    width: 273px;
    height: 218.4px;
}

.subarticleinhome{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posisiteksartikel {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.textberi {
    width: 240px;
    height: 150px;
    padding-top: 8px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 149.5%;
}

.tambahanMain{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 149.5%;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

.posisiartikel3 {
    width: 273px;
    height: 414.4px;
}

.posisiartikel4 {
    width: 273px;
    height: 414.4px;
}

.posisiartikel5 {
    width: 273px;
    height: 414.4px;
}

/* transisi */
.transisi {
    transition: .5s;
}

.transisi:hover {
    scale: 1.2;
}
/* transisi */

.segitigakotak {
    position: absolute;
    width: 129px;
    height: 95px;
    right: 0;
    margin-right: 5%;
    margin-top: 8%;
}

.positioncontent5 {
    height: 528px;
    margin-top: 20px;
}

.textbagaimana {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    width: 80%;
    margin-left: 20px;
}

.imgpetaindonesia {
    width: 785px;
    height: 351.7px;
    position: absolute;
}

