.BungkusArtikelcuy{
    border-style: solid;
    height: 850px;
}

.Ulnyaartikel{
    list-style-type: none;
    display: flex;
    height: 40px;
    margin-left: 0.5%;
}

.Linyaartikel{
    list-style-type: none;
    padding: 0px;
    margin: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 94%;
}

.Artikelatascuy{
    font-style: normal;
    font-weight: 505;
    font-size: 33px;
    line-height: 0px;
    margin-left: 4%;
    margin-top: 70px;

    border-bottom: solid;
    width: 98px;
    height: 20px;
    border-color: #005C95;
    border-width: 5px;
    border-radius: 4px;
}

.FotoPertamanicuy{
    height: 410px;
    border-radius: 20px;
    margin-left: 4%;
    margin-top: 0%;
}

.Ulnyaartikel2{
    list-style-type: none;
    display: flex;
    height: 0px;
    margin-left: 1.5%;
    gap: 3%;
    margin-top: 1%;
}

.Jatim1cuy{
    list-style-type: none;
    padding: 0px;
    margin: 1px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #EA5900;
}

.Jatim2cuy{
    padding: 0px;
    margin: 3px;
    list-style-type: none;
    height: 30px;
}

.Headernicuy{
    width: 700px;
    margin-left: 4%;
    margin-top: 40px;

    font-style: normal;
    font-weight: 520;
    font-size: 32px;
}

.Bawahheadernicuy{
    width: 700px;
    margin-left: 4%;
    margin-top: -0px;

    font-style: normal;
    font-weight: 410;
    font-size: 16px;
    line-height: 149.5%;
}

.sernicuy{
    height: 24px;
    margin-left: 4%;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 149.5%;
}

.sericoncuy{
    margin-left: 3%;
    margin-top: -0.5%;
}

.iconsercuy{
    margin-left:  1%;
}






.Carouselsusah {
    width: 1290px;
    height: 430px;
    margin-top: -2%;
    margin-left: -3.2%;
}

.Artikellainnyacuy{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-left: 4%;
}

.divnyaartikel{
    border-style: solid;
    height: 500px;
}

.swiper-slide {
    background: transparent;
}






.busetdah{
    border-style: solid;
    height: 390px;
    width:900px;
    margin-top: 5%;
}

.dipnyacarousel2{
    border-style: solid;
    height: 600px;
}

.FotoAC2cuy{
    width: 1103px;
    height: 440px;
    
    border-radius: 20px;
}
/* 
.swiper {
    width: 100%;
    height: 100%;
  } */
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  