.navbar {
    height: 70px;
    border-bottom: 1px solid;
    border-color: transparent;
    box-shadow: 0 7px 8px 0 rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 56px;
}
.menuheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}
.buttonloginlogout{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.logo {
    width: 160px;
    height: 56.05px;
}

.position-menu-navbar {
    display: flex;
    height: 50px;
}

.styling-menu-navbar {
    list-style-type: none;
    padding: 0px;
    margin: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 149.5%;
}

.mobileview{
    display: none;
}
.button-masuk {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 2px;
    gap: 10px;

    width: 89px;
    height: 40px;

    background: #009EFF;
    border: 1px solid #FFFFFF;
    border-radius: 16px;

    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 149.5%;

    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;

    }

.button-daftar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 2px;
    gap: 10px;
    
    width: 88px;
    height: 39px;
    
    background: white;
    border: 1px solid #009EFF;
    border-radius: 16px;
    
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 149.5%;
    
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;

}

.position-icon-notif {
    justify-content: right;
}

.icon-profil {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.dropdownnavprofil:hover {
    background: rgba(0, 158, 255, 0.3);
}


/* Animasi left right*/
.animasi-left-right {
    display: inline-block;
  }

.animasi-left-right:after {
    content: '';
    display: block;
    height: .1525rem;
    width: 0;
    background: black ;
    transition: width .3s ease, background-color .3s ease;
    color: #009EFF;
}

.animasi-left-right:hover:after {
    width: 100%;
    background: black;
    color: #009EFF;
  }

.mainmenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.linknav{
    color: black;
}

@media (max-width: 1116px) {
    
    .button-masuk {
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 2px;
    gap: 10px;
    
    width: 89px;
    height: 40px;
    
    background: #009EFF;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 149.5%;
    
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;
    
    position: absolute;
    left: 79%;
    top: 20px;
    }
    
    .button-daftar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 2px;
        gap: 10px;
        
        width: 88px;
        height: 39px;
        
        background: white;
        border: 1px solid #009EFF;
        border-radius: 16px;
        
        color: black;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 149.5%;
        
        box-sizing: border-box;
        flex: none;
        order: 0;
        flex-grow: 0;
    
        position: absolute;
        left: 88.5%;
        top: 20px;
    }
    }
    
    @media (max-width: 1023px) {
        .button-masuk {
            display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 2px;
        gap: 10px;
        
        width: 69px;
        height: 30px;
        
        background: #009EFF;
        border: 1px solid #FFFFFF;
        border-radius: 16px;
        
        color: #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 149.5%;
        
        box-sizing: border-box;
        flex: none;
        order: 0;
        flex-grow: 0;
        
        position: absolute;
        left: 81%;
        top: 20px;
        }
        
        .button-daftar {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px 2px;
            gap: 10px;
            
            width: 68px;
            height: 29px;
            
            background: white;
            border: 1px solid #009EFF;
            border-radius: 16px;
            
            color: black;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 149.5%;
            
            box-sizing: border-box;
            flex: none;
            order: 0;
            flex-grow: 0;
        
            position: absolute;
            left: 88.5%;
            top: 20px;
        }
    }
    
    @media (max-width: 986px) {
        .button-masuk {
            display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 2px;
        gap: 10px;
        
        width: 69px;
        height: 30px;
        
        background: #009EFF;
        border: 1px solid #FFFFFF;
        border-radius: 16px;
        
        color: #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 149.5%;
        
        box-sizing: border-box;
        flex: none;
        order: 0;
        flex-grow: 0;
        
        position: absolute;
        left: 88.3%;
        top: 3px;
        }
        
        .button-daftar {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px 2px;
            gap: 10px;
            
            width: 68px;
            height: 29px;
            
            background: white;
            border: 1px solid #009EFF;
            border-radius: 16px;
            
            color: black;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 149.5%;
            
            box-sizing: border-box;
            flex: none;
            order: 0;
            flex-grow: 0;
        
            position: absolute;
            left: 88.5%;
            top: 35px;
        }
    }
    
    @media (max-width: 865px) {
        .styling-menu-navbar {
            list-style-type: none;
            padding: 0px;
            margin: 15px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 149.5%;
        }
    }
    
    @media (max-width: 802px) {
        .styling-menu-navbar {
            list-style-type: none;
            padding: 0px;
            margin: 15px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 149.5%;
        }
    
        .position-menu-navbar {
            display: flex;
            height: 50px;
            position: absolute;
            left: 25%;
            top: -5px;
        }
    }
    
    
    
    @media only Screen and (max-width: 768px) {
        .menuheader {
        display: none;
        }
        .navbar{
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 420px;
            max-width: auto;
        }
    }
  /* dropdown responsive */
.mainmenuright{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

